*{
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
  border-bottom: 1px solid #5a5959;
}

.navbar .links{
  margin-left: auto;
}

.navbar a{
  text-decoration: none;
  margin-left: 20px;
  padding: 10px;
}

.navbar a:hover{
  color: #8a2ce2;
}

.navbar h3{
  color: #9c4be7;
}

.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 10px;
}

.blog-preview{
  padding:10px 20px;
  margin: 20px 0;
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px #5a5959;
  cursor: pointer;
}

.blog-preview a{
  text-decoration: none;
}

.blog-preview h2{
  color: #9c4be7;
  margin-bottom: 8px;
}
.blog-preview p{
  color: #5a5959;
  margin-bottom: 8px;
}

.create
{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label{
  text-align: left;
  display: block;
}

.create h2{
  font-size: 20px;
  color: #8a2ce2;
  margin-bottom: 20px;
}

.create textarea,input,select{
  padding: 10px 20px;
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  border:1px solid #5a5959;
  display: block;
}

.create button{
  color: white;
  background-color: #8a2ce2;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
}

.blog-details button{
  color: white;
  background-color: #8a2ce2;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
}